.App {
  /* text-align: center; */
  width: 80%;
  margin: auto;
}

/* Form */

input {
  font-size: 20px;
  min-width: 400px;
  max-width: 100%;
  height: 30px;
}


/* Responses */

#map {
  padding: 5px;
  background-color: lightgray;
  min-height: 200px;
  width: 100%;
  margin: 2px;
  border-radius: 4px;
}

span {
  overflow-wrap: break-word;
}

#prompt {
  display: grid;
  grid-template-columns: 120px 1fr;
  min-height: 50px;
}

#response {
  display: grid;
  grid-template-columns: 120px 1fr;
}

#title {
  font-weight: bold;
}

.submitButton {
  background-color: lightblue;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: black;
  color: white;
}

#options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.removeEnabled {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
  transition: .3s;
}

.removeEnabled:hover {
  background-color: rgb(253, 84, 84, .9);
}

.removeDisabled {
  background-color: darkred;
  border: none;
  border-radius: 5px;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
}

select {
  width: fit-content;
  text-align: center;
  border: none;
  font-size: 15px;
}
